{% extends 'archimedesquestion/base.html' %}

{% load staticfiles %}

{% block jumbo_block %}

<div class="container">

<div class="jumbotron reg">
<div class="container">

<div class="ing_form">

  {% if next %}
  <form action="/user_login/?next={{next}}" method="post" >
  {% else %}
  <form  action="{% url 'archimedesquestion:ingresar' %}" method="post">
  {% endif %}
  {% csrf_token %}
    <div class="form-group">
      <label for="username">Email </label>
      <input  id="username" type="username" name="username" class="form-control"  aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" class="form-control">
    </div>
    <input type="submit" class="btn btn-info" name="" value="Ingresar">
  </form>

</div>
</div>

</div>

</div>
{% endblock %}
