<!DOCTYPE html>

{% extends 'archimedesquestion/base.html' %}

{% load static %}


{% block jumbo_block %}


<script>
function empezar(sec) {
    function GetURLParameter(sParam){
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++){
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam){
              return sParameterName[1];
          }
      }
    }
var section = GetURLParameter('section');
window.location.href =  "{% url 'archimedesquestion:questions' %}" + "?section=" + section;
console.log(sec);
}
</script>


<div class="container">
  <div id="jumbo_questions" class="jumbotron" >
    <div class="" >

      <p ALIGN="justify"> A continuación encontrará una serie de preguntas en temas relacionados con matemáticas y solución de problemas diseñados con el fin de servir como preparación para las pruebas saber, exámenes de admisión a diferentes universidades y olimpiadas de matemáticas.</p>
      <div class="center" style="width:100%;" >
        <button id = 'iniciar' onclick="empezar()" class="btn btn-outline-info waves-effect" name="boton">Iniciar Entrenamiento</button>
      </div>


    </div>
  </div>
  <p></p><br>

</div>

<script type="text/javascript" src = "{% static 'js/questions.js' %}"></script>

{% endblock %}
