{% extends 'archimedesquestion/base.html' %}

{% load static %}

{% block jumbo_block %}


<div class="container">
<div class="jumbotron">
  <h1 style="color:#1BAFBF">Recursos e Informes </h1><br>
<div class="">
<a href="{% static 'publicar/ESTATUTOS DE CORPORACION ENTIDAD SIN ANIMO DE LUCRO.pdf' %}" >   <img src="{% static 'images/pdf.png' %}" width="50" height="50"> EstatutosCorporacion.pdf </a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/ACTA_CONSTITUCION_CORPPORACION.pdf' %}" >  <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Acta Constitución.pdf </a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/CERTIFICADO ANTECEDENTES.pdf' %}" > <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Certificado Antecedentes De Los Fundadores.pdf</a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/CERTIFICADO DE REQUISITOS.pdf' %}" > <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Certificado De Requisitos - Régimen Especial.pdf </a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/ACTA ASAMBLEA 004.pdf' %}" > <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Acta Asamblea 2019.pdf</a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/Certificado Camara de Comercio.pdf' %}" >  <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Certificado Cámara de comercio 2019.pdf</a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/ESTADOS FINANCIEROS 2019.pdf' %}" >  <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Estados Financieros 2019.pdf</a><br>
</div><br>
<div class="">
  <a href="{% static 'publicar/Informe de gestion .pdf' %}" >  <img src="{% static 'images/pdf.png' %}" width="50" height="50"> Informe de gestión  2019.pdf</a>
</div><br>
<div class="">
</div>
</div>
<script type="text/javascript" src = "{% static 'js/questions.js' %}"></script>

{% endblock %}
