<!DOCTYPE html>
{% extends 'archimedesquestion/base.html' %}

{% load staticfiles %}

{% block jumbo_block %}
{% if registered %}
  <h1>Thank you for registering!</h1>
{% else %}
<form enctype="multipart/form-data" method="post">
    <div class="row">
      <div class="col-xs-4 col-md-2 col-sm-2">
      </div>
      <div class="jumbotron col-xs-4 col-md-8 col-sm-8">
        <div class="reg_form">
          <label for="username">User Name:</label>
          <div class="">
            {% csrf_token %}
            {{ user_form.username }}
          </div>
          <label for="email">Email:</label>
          <div class="">
            {% csrf_token %}
            {{ user_form.email }}
          </div>
          <label class="label_register" for="password">Password:</label>
          <div class="">
            {% csrf_token %}
            {{ user_form.password }}
          </div>
          <label for="passwordconfirm">Confirm Password:</label>
          <div class="">
            {% csrf_token %}
            {{ user_form.confirm_password }}
          </div><br>

          <input type="submit" class="btn btn-info" name="" value="Register">
        </div>
      </div>
      <div class="col-xs-4 col-md-2 col-sm-2">
      </div>
    </div>
{% endif %}
  </form>
{% endblock %}
